src/main/mule/bookmyshow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b3d60db5-08fc-4d2d-9634-0d11877c7387" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="98db8089-fa37-4e66-a59b-514559279891" />
	<file:config name="bookedMovie" doc:name="File Config" doc:id="210f2f64-f17e-401b-a610-1ad5b10576c8" >
		<file:connection workingDir="D:\MCD - 1\Project" />
	</file:config>
	<flow name="bookmyshowFlow" doc:id="f4d488ff-6f4d-4d48-8e6c-a36d7af19e07" >
		<http:listener doc:name="Listener" doc:id="dbdceaf1-204e-4914-b297-fe9e8b619074" config-ref="HTTP_Listener_config" path="/search"/>
		<file:read doc:name="Read" doc:id="a5338643-3752-4707-9c3b-105152d02a22" config-ref="File_Config" path="D:\MCD - 1\Project\Movie Details.json"/>
		<logger level="INFO" doc:name="Logger" doc:id="b69e7306-961c-4912-b5f9-57ae814f5762" message="#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="beee88fa-a765-49ab-a2c9-5264890c6bfa" type="ANY">
				<set-payload value='#["Sorry, we are unable to get movies"]' doc:name="Set Payload" doc:id="a53b58dd-7417-4ee6-8eae-a3ca155cd9c3" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="bookmyshowFlow1" doc:id="667a9fa4-0f21-4cef-b8eb-075b59db5d02" >
		<http:listener doc:name="Listener" doc:id="e199660a-4d32-4065-89a3-c0614839929c" config-ref="HTTP_Listener_config" path="/book"/>
		<set-payload value='#["Please Wait..."]' doc:name="Set Payload" doc:id="40189831-2757-4734-93f8-f2e70be3fa58" />
		<set-variable value="#[attributes.headers.name]" doc:name="Movie_Name" doc:id="c8f2ba9c-41cd-4bd3-a6b5-f430a1c12edc" variableName="Movie" />
		<flow-ref doc:name="Flow Reference" doc:id="d9ac680f-d77d-4a7c-989b-b9c5b4e05ee8" name="bookmyshowFlow"/>
		<try doc:name="Try" doc:id="2bad1ff5-c76e-4c9e-996d-92e25e7a7407" >
			<ee:transform doc:name="Transform Message" doc:id="d152755d-3735-448e-ac2c-9e33d1326e9e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter ($.Movie == vars.Movie) map {
	
	Movie: $.Movie,
	Time: $.Time,
	Location: $.Location,
	Price: $.Price
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f96bb7bf-878d-4a63-801e-8cfb97416b11" type="ANY">
					<set-payload value='#["Movie not found"]' doc:name='"Movie not found"' doc:id="4fb29fd1-4841-4244-811d-58ede9cd80a1" />
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="3f442e8b-cbdb-4cac-a457-6a1f685aad55" >
			<when expression='#[payload == "Movie not found" or payload == [&#10;  &#10;  ]]'>
				<set-payload value='#["Movie not found"]' doc:name="Set Payload" doc:id="1ee852f4-63b2-4334-8c33-94448cd5c13d" />
				<logger level="INFO" doc:name='"Movie not found"' doc:id="796d436a-676d-4a15-875b-ed4c3e574532" message='#[payload]'/>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Reference" doc:id="84ddcb26-50dc-4f2e-9e69-71cb71df3f08" name="bookmyshowFlow2"/>
				<logger level="INFO" doc:name="Logger" doc:id="198f14ac-685d-4354-8fa7-041736802c85" message='#["Your movie booked successfully"]' />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ae94a37f-31df-43cd-a56e-1c0933fbb710" />
		</error-handler>
	</flow>
	<flow name="bookmyshowFlow2" doc:id="4091f67e-4cb4-4694-9dfc-edc04c56e57d" >
		<http:listener doc:name="Listener" doc:id="a25cb47f-7e40-4357-af0a-20f23d0bdcc6" config-ref="HTTP_Listener_config" path="/confirm"/>
		<ee:transform doc:name="Transform Message" doc:id="255e8f3e-8399-4301-89aa-7587995d557a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
root:payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="616182c3-074c-425f-a86e-b1c5c7f54d58" config-ref="File_Config" path="D:\MCD - 1\Project\BookedMovies.XML" mode="APPEND"/>
	</flow>
</mule>
